.header {
    background-color: white;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    padding-top: 10px;
}

.headerContainer {
    width: 100%;
    display: flex; 
    align-items: center;   
}

.tabs {
    padding-top: 20px; 
    padding-left: 50px;
}

.home {
    font-size: 15px;
    color: black;
    border-bottom: 3px solid rgb(106 164 144);
    padding-bottom: 10px
}

.login {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: rgb(106 164 144);
    background-color: transparent;
    font-weight: 600;
    border-right: 1px solid #ddd;
}

.sign-up  {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: rgb(106 164 144);
    background-color: transparent;
    font-weight: 600;
}
.buttons {
    display: block;
    margin-left: auto;
    padding-right: 30px;
    font-family: cursive;
} 